[build]
  publish = "public"
  functions = "netlify/functions"
  command = "cd netlify/functions && npm install"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"

[dev]
  publish = "public"
  functions = "netlify/functions"
  port = 8888
